* {
    text-decoration: none;
    font-weight: bold;
}

.Profil-container {
    display: flex;
}

.MenuPara {
    width: 200px;
    height: 60vh;
    background-color: #a3cae521;
    border-radius: 2px;
}

.MenuPara header {
    color: #1F234E;
    font-size: 17px;
    line-height: 50px;
    padding-left: 30px;
    background-color: #a3cae521;
    font-weight: bold;
    user-select: none;
    font-family: 'Cairo', sans-serif;
}

.MenuPara a {
    display: block;
    color: #999bb1;
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding-left: 30px;
    border-top: 1px solid #e4efe7;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
}

.MenuPara a:hover,
a.Active {
    border-left: 4px solid #EE66D8;
    ;
    color: #0c48a1;
    font-family: 'Cairo', sans-serif;
}

.ProPara {
    margin: 7px 7px 7px 40px;
    background: #ffffff;
}

.TITRE h1 {
    font-size: 23px;
    font-family: 'Cairo', sans-serif;
    color: #151515;
}

.TITRE p {
    font-size: 13px;
    font-family: 'Cairo', sans-serif;
    color: #5f6593;
    line-height: 20px;
    font-weight: bold;
}

.UserName h2 {
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    color: #1f234e;
    margin: 40px 0px 0px 50px;
}

.UserName p {
    font-size: 13px;
    font-family: 'Cairo', sans-serif;
    color: #5f6593;
    line-height: 20px;
    margin-left: 50px;
    font-weight: bold;
}

.notifinput #Name,
#Name,
#Pname,
#AMail, .duree {
    height: 30px;
    width: 300px;
    margin: 10px 10px 30px 50px;
    border: 1px solid #a3cae5;
    border-radius: 5px;
    background-color: #fafbfe;
    outline: none;
    padding-left: 5px;
}

.notifinput #Name:hover,
#Name:hover,
.duree:hover
#Pname:hover,
#AMail:hover {
    height: 30px;
    width: 300px;
    margin: 10px 10px 30px 50px;
    border: 1px solid #1f234e;
    border-radius: 5px;
    background-color: #fafbfe;
    outline: none;
    font-family: 'Cairo', sans-serif;
}

.PhotoUser h2 {
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    color: #1f234e;
    margin: 40px 0px 0px 50px;
}

.PhotoUser p {
    font-size: 13px;
    font-family: 'Cairo', sans-serif;
    color: #5f6593;
    line-height: 20px;
    margin-left: 50px;
    font-weight: bold;
}

.PhotoUser img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 10px 10px 30px 50px;
}

.PhotoUser button {
    height: 35px;
    width: 100px;
    border: 1px solid #a3cae5;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    color: #5f6593;
    background-color: #fafbfe;
    margin: 10px 10px 30px 50px;
}

.PhotoUser button:hover {
    height: 35px;
    width: 100px;
    border: 1px solid #1f234e;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    color: #1f234e;
    background-color: #fafbfe;
    margin: 10px 10px 30px 50px;
}

.SauvModif button {
    height: 40px;
    width: 120px;
    border: 1px solid #fafbfe;
    border-radius: 5px;
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    color: #fafbfe;
    background-color: #1f234e;
    margin: 10px 10px 30px 280px;
    cursor: pointer;
    
    
}

.SauvModif button:hover {
    height: 40px;
    width: 120px;
    border: 1px solid #fafbfe;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    color: #fafbfe;
    background-color: #0c48a1;
    margin: 10px 10px 30px 280px;
    cursor: pointer;
}

.DemmanderAuto button {
    height: 40px;
    width: 260px;
    border: 1px solid #a3cae5;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    color: #5f6593;
    background-color: #fafbfe;
    margin: 10px 10px 30px 180px;
}

.DemmanderAuto button:hover {
    height: 40px;
    width: 260px;
    border: 1px solid #1f234e;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    color: #1f2342;
    background-color: #fafbfe;
    margin: 10px 10px 30px 180px;
}

.UserName a {
    color: #999bb1;
    font-family: 'Cairo', sans-serif;
    margin: 10px 10px 30px 50px;
}

.UserName a:hover {
    color: #151515;
    font-family: 'Cairo', sans-serif;
    margin: 10px 10px 30px 50px;
}

input[type="checkbox"] {
    height: 14px;
    width: 14px;
    margin: 20px 0px 20px 50px;
    border: 1px solid #a3cae5;
    border-radius: 5px;
    background-color: #fafbfe;
}

input[type="checkbox"]:hover {
    height: 16px;
    width: 16px;
    margin: 20px 0px 20px 50px;
    border: 2px solid #1f234e;
    border-radius: 5px;
    background-color: #fafbfe;
}

.Gerer span {
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    color: #151515;
    margin: 10px 0px 0px 0px;
}

.SauvGerer button {
    height: 40px;
    width: 120px;
    border: 1px solid #1F234E;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Cairo', sans-serif;
    color: #fafbfe;
    background-color: #1F234E;
    margin: 50px 10px 30px 280px;
}

.SauvGerer button:hover {
    height: 40px;
    width: 120px;
    border: 1px solid #fafbfe;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Cairo', sans-serif;
    color: #fafbfe;
    background-color: #5f6593;
    margin: 50px 10px 30px 280px;
}

.UserName button {
    height: 35px;
    width: 100px;
    border: 1px solid #a3cae5;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    color: #a3cae5;
    background-color: #fafbfe;
    margin: 10px 10px 30px 50px;
}

.UserName button:hover {
    height: 35px;
    width: 100px;
    border: 1px solid #1f234e;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    color: #1f234e;
    background-color: #fafbfe;
    margin: 10px 10px 30px 50px;
}

.SuppCompte button {
    height: 35px;
    width: 200px;
    border: 1px solid #a3cae5;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    color: #a3cae5;
    background-color: #fafbfe;
    margin: 10px 10px 30px 50px;
}

.SuppCompte button:hover {
    height: 35px;
    width: 200px;
    border: 1px solid #1f234e;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    color: #1f234e;
    background-color: #fafbfe;
    margin: 10px 10px 30px 50px;
}

.UserName span {
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    color: #151515;
    margin: 10px 0px 0px 0px;
}